/*
	Style.css for OSLAB
	Author: SeekBytes;
*/

:root{
	--background-color: #fff;
	--text-color: black;
	--ededed: #ededed;
	--link-color: #005a9f;
	--footer-color: #595858;
}

body{
	margin: 0px;
	padding: 0px;
	font-size: 1.3rem;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
	background: var(--background-color);
	color: var(--text-color);
}

@media (prefers-color-scheme: dark){
	:root{
		--background-color: #1e1e1e;
		--text-color: white;
		--link-color: #3db1ff;
		--footer-color: #c1c1c1;
	}
}

@media screen and (max-width: 800px){

	.flex{
		flex-direction: column-reverse;
	}

	.container{
		margin: 10px;
	}

	.content{
		padding-top: 30px!important;
	}

	.content img{
		height: auto;
		width: 100%;
	}

}

@media screen and (min-width: 801px){
	.navbar-lat{
		border-right: 1px solid #ededed;
	}

	.container {
		width: 70%;
		margin: 0 auto;
	}

	.content{
		width: 100%;
	}

	.navbar-lat{
		min-width: 500px;
	}


}

.definition {
	color: #ffffff;
	background: #ca3838;
	padding: 20px;
	margin: 20px 0px;
	border: 1px solid black;
}

.highlight code{
	background: none;
	color: black;
}

pre{
    overflow-x: scroll;
}

a{
	color: var(--link-color);
}

a:hover{
	color: #065b9b;
}

.flex{
	display: flex;
}

.content{
	padding: 0px 30px;
}

.links{
	padding: 20px 40px;
}

table {
	margin: 15px auto 15px;
	border-collapse: collapse;
}

table, th, td{
	border: 1px solid var(--text-color);
}

td, th{
	padding: 10px;
}

footer{
	border-top: 1px solid #ededed;
	color: var(--footer-color);
	margin-top: 15px;
}

.highlight pre{
	margin: 0px;
	padding: 0px;
	background-color: #ededed !important;
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
}

.highlight{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

code:not(.language-c):not(.language-ruby){
	color: var(--background-color);
    background: var(--text-color);
    padding: 2px 5px;
}

details{
	padding-top: 20px;
}

details b{
	color: var(--footer-color);
}

.content img{
	margin: 0 auto;
	display: block;
}

.definition h3{
	margin: 0px;
	padding: 0px;
}

.details{
	font-size: 1rem;
	color: grey;
}

#searchInput{
	padding: 20px;
	font-size: 1.2rem;
	border: 1px solid black;
	width: 40%;
}